{{!-- Combat Action Order Reminder --}}
<div class="dolmen-action-order">
	<i class="fa-solid fa-person-running" data-tooltip="{{localize 'DOLMEN.Combat.ActionOrder.Movement'}}"></i>
	<i class="fa-solid fa-arrow-right action-arrow"></i>
	<i class="fa-solid fa-bow-arrow" data-tooltip="{{localize 'DOLMEN.Combat.ActionOrder.Missile'}}"></i>
	<i class="fa-solid fa-arrow-right action-arrow"></i>
	<i class="fa-solid fa-sparkles" data-tooltip="{{localize 'DOLMEN.Combat.ActionOrder.Magic'}}"></i>
	<i class="fa-solid fa-arrow-right action-arrow"></i>
	<i class="fa-solid fa-swords" data-tooltip="{{localize 'DOLMEN.Combat.ActionOrder.Melee'}}"></i>
</div>
