<section class="tab-content tab-settings {{tab.cssClass}}" data-group="primary" data-tab="settings">
	<section class="unit-system boxed-section">
		<h2>{{localize "DOLMEN.KindredDetails.UnitSystem"}}</h2>
		<div class="unit-toggle">
			<label class="radio-label">
				<input type="radio" name="system.physical.unitSystem" value="imperial" {{#if (eq system.physical.unitSystem "imperial" )}}checked{{/if}}>
				{{localize "DOLMEN.KindredDetails.Imperial"}}
			</label>
			<label class="radio-label">
				<input type="radio" name="system.physical.unitSystem" value="metric" {{#if (eq system.physical.unitSystem "metric" )}}checked{{/if}}>
				{{localize "DOLMEN.KindredDetails.Metric"}}
			</label>
		</div>
	</section>

	<section class="customize-skills boxed-section">
		<h2>{{localize "DOLMEN.Skills.OptionalRules"}}</h2>
		<div class="checkbox-field">
			<label>
				<input type="checkbox" name="system.customizeSkills" {{#if system.customizeSkills}}checked{{/if}}>
				{{localize "DOLMEN.Skills.CustomizeSkills"}}
			</label>
			<p class="hint">{{localize "DOLMEN.Skills.CustomizeSkillsHint"}}</p>
		</div>
	</section>
</section>