<section class="tab-content tab-details {{tab.cssClass}}" data-group="primary" data-tab="details">
	<div class="two-columns">
		<section class="character-details boxed-section">
			<h2>{{localize "DOLMEN.ExtraDetails.Title"}} - {{localize "DOLMEN.ExtraDetails.Appearance"}}</h2>
			<div class="extra-grid">
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Head"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.head" value="{{system.details.head}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="head" title="{{detailTitles.head}}"></i>
					</div>
				</div>
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Face"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.face" value="{{system.details.face}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="face" title="{{detailTitles.face}}"></i>
					</div>
				</div>
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Dress"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.dress" value="{{system.details.dress}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="dress" title="{{detailTitles.dress}}"></i>
					</div>
				</div>
				<div class="header-field">
					<label>{{bodyLabel}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.body" value="{{system.details.body}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="body" title="{{detailTitles.body}}"></i>
					</div>
				</div>
			</div>
		</section>
		<section class="character-details boxed-section">
			<h2>{{localize "DOLMEN.ExtraDetails.Title"}} - {{localize "DOLMEN.ExtraDetails.Mannerisms"}}</h2>
			<div class="extra-grid">
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Demeanour"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.demeanour" value="{{system.details.demeanour}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="demeanour" title="{{detailTitles.demeanour}}"></i>
					</div>
				</div>
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Desires"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.desires" value="{{system.details.desires}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="desires" title="{{detailTitles.desires}}"></i>
					</div>
				</div>
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Beliefs"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.beliefs" value="{{system.details.beliefs}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="beliefs" title="{{detailTitles.beliefs}}"></i>
					</div>
				</div>
				<div class="header-field">
					<label>{{localize "DOLMEN.ExtraDetails.Speech"}}</label>
					<div class="flexrow">
						<input type="text" name="system.details.speech" value="{{system.details.speech}}">
						<i class="fa fa-dice-d20 rollable roll-detail" data-detail="speech" title="{{detailTitles.speech}}"></i>
					</div>
				</div>
			</div>
		</section>
	</div>

	<section class="physical-characteristics boxed-section">
		<h2>{{localize "DOLMEN.KindredDetails.Title"}}</h2>
		<div class="physical-grid" data-unit-system="{{system.physical.unitSystem}}">
			<div class="header-field">
				<label>{{localize "DOLMEN.KindredDetails.KindredType"}}</label>
				<span class="proficiency-value">{{creatureTypeLabel}}</span>
			</div>
			<div class="header-field">
				<label>{{localize "DOLMEN.KindredDetails.Height"}} {{#if (eq system.physical.unitSystem "imperial" )}}{{localize "DOLMEN.KindredDetails.Feet"}}{{else}}{{localize "DOLMEN.KindredDetails.Cm"}}{{/if}}</label>
				<div class="flexrow">
					<div class="unit-inputs">
						<span class="imperial-unit">
							<input type="text" name="system.physical.heightFeet" value="{{system.physical.heightFeet}}" data-convert="height-feet">
						</span>
						<span class="metric-unit">
							<input type="number" name="system.physical.heightCm" value="{{system.physical.heightCm}}" min="0" step="1" data-convert="height-cm">
						</span>
					</div>
					<i class="fa fa-dice-d20 rollable roll-height" title="{{heightTitle}}"></i>
				</div>
			</div>
			<div class="header-field">
				<label>{{localize "DOLMEN.KindredDetails.Weight"}} {{#if (eq system.physical.unitSystem "imperial" )}}{{localize "DOLMEN.KindredDetails.Lbs"}}{{else}}{{localize "DOLMEN.KindredDetails.Kg"}}{{/if}}</label>
				<div class="flexrow">
					<div class="unit-inputs">
						<span class="imperial-unit">
							<input type="number" name="system.physical.weightLbs" value="{{system.physical.weightLbs}}" min="0" step="1" data-convert="weight-lbs">
						</span>
						<span class="metric-unit">
							<input type="number" name="system.physical.weightKg" value="{{system.physical.weightKg}}" min="0" step="1" data-convert="weight-kg">
						</span>
					</div>
					<i class="fa fa-dice-d20 rollable roll-weight" title="{{weightTitle}}"></i>
				</div>
			</div>
			<div class="header-field" style="grid-column-end: span 1;">
				<label>{{localize "DOLMEN.KindredDetails.CurrentAge"}}</label>
				<div class="flexrow">
					<input type="number" name="system.physical.age" value="{{system.physical.age}}" min="0">
					<i class="fa fa-dice-d20 rollable roll-age" title="{{ageTitle}}"></i>
				</div>
			</div>
			<div class="header-field" style="grid-column-end: span 1;">
				<label>{{localize "DOLMEN.KindredDetails.Lifespan"}}</label>
				{{#if isFairy}}
				<input type="text" value="{{localize 'DOLMEN.Immortal'}}" disabled>
				{{else}}
				<div class="flexrow">
					<input type="number" name="system.physical.lifespan" value="{{system.physical.lifespan}}" min="0">
					<i class="fa fa-dice-d20 rollable roll-lifespan" title="{{lifespanTitle}}"></i>
				</div>
				{{/if}}
			</div>
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.Birthday"}}</label>
				<div class="flexrow">
					<select name="system.birthMonth" value="{{system.birthMonth}}">
						{{selectOptions @root.monthNameChoices selected=system.birthMonth}}
					</select>
					<select name="system.birthDay" value="{{system.birthDay}}" style="max-width: 50px;">
						{{selectOptions @root.dayChoices selected=system.birthDay}}
					</select>
					<i class="fa fa-dice-d20 rollable roll-birthday"></i>
				</div>
			</div>
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.MoonSign"}}</label>
				<span class="proficiency-value">{{moonSignLabel}}</span>
			</div>
		</div>
	</section>
	<section class="class-details boxed-section">
		<h2>{{localize "DOLMEN.ClassDetails.Title"}}</h2>
		<div class="class-grid">
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.ClassDetails.PrimeAbilities"}}</label>
				<span class="proficiency-value">{{primeAbilities}}</span>
			</div>
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.ClassDetails.HitPoints"}}</label>
				<span class="proficiency-value">{{hitPointsClass}}</span>
			</div>
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.ClassDetails.CombatAptitude"}}</label>
				<span class="proficiency-value">{{combatAptitude}}</span>
			</div>
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.ClassDetails.ArmorProficiency"}}</label>
				<span class="proficiency-value">{{armorProficiency}}</span>
			</div>
			<div class="header-field" style="grid-column-end: span 2;">
				<label>{{localize "DOLMEN.ClassDetails.WeaponsProficiency"}}</label>
				<span class="proficiency-value">{{weaponsProficiency}}</span>
			</div>
			<div class="header-field" style="grid-column-end: span 1;">
				<label>{{localize "DOLMEN.ClassDetails.Loyalty"}}</label>
				<input type="number" name="system.loyalty" value="{{system.loyalty}}" min="1" max="12">
			</div>
		</div>
	</section>
</section>