<section class="tab-content tab-settings {{tab.cssClass}}" data-group="primary" data-tab="settings">
	<div class="two-columns">
		<section class="unit-system boxed-section">
			<h2>{{localize "DOLMEN.KindredDetails.UnitSystem"}}</h2>
			<div class="unit-toggle">
				<label class="radio-label">
					<input type="radio" name="system.physical.unitSystem" value="imperial" {{#if (eq system.physical.unitSystem "imperial" )}}checked{{/if}}>
					{{localize "DOLMEN.KindredDetails.Imperial"}}
				</label>
				<label class="radio-label">
					<input type="radio" name="system.physical.unitSystem" value="metric" {{#if (eq system.physical.unitSystem "metric" )}}checked{{/if}}>
					{{localize "DOLMEN.KindredDetails.Metric"}}
				</label>
			</div>
		</section>
		<section class="base-speed-setting boxed-section">
			<h2>{{localize "DOLMEN.Movement.BaseSpeed"}}</h2>
			<div class="form-group">
				<input type="number" name="system.speed" value="{{system.speed}}" min="0">
				<span class="unit">{{localize "DOLMEN.Movement.FeetPerRound"}}</span>
			</div>
		</section>
	</div>

	<section class="customize-skills boxed-section">
		<h2>{{localize "DOLMEN.Skills.OptionalRules"}}</h2>
		<div class="checkbox-field">
			<label>
				<input type="checkbox" name="system.customizeSkills" {{#if system.customizeSkills}}checked{{/if}}>
				{{localize "DOLMEN.Skills.CustomizeSkills"}}
			</label>
			<p class="hint">{{localize "DOLMEN.Skills.CustomizeSkillsHint"}}</p>
		</div>
	</section>

	<section class="retainer-setting boxed-section">
		<h2>{{localize "DOLMEN.PartyViewer.Retainer"}}</h2>
		<div class="unit-toggle">
			<label class="radio-label">
				<input type="radio" name="system.retainer" value="" {{#if (eq system.retainer "" )}}checked{{/if}}>
				{{localize "DOLMEN.PartyViewer.RetainerNone"}}
			</label>
			<label class="radio-label">
				<input type="radio" name="system.retainer" value="quarter" {{#if (eq system.retainer "quarter" )}}checked{{/if}}>
				{{localize "DOLMEN.PartyViewer.RetainerQuarter"}}
			</label>
			<label class="radio-label">
				<input type="radio" name="system.retainer" value="half" {{#if (eq system.retainer "half" )}}checked{{/if}}>
				{{localize "DOLMEN.PartyViewer.RetainerHalf"}}
			</label>
			<label class="radio-label">
				<input type="radio" name="system.retainer" value="full" {{#if (eq system.retainer "full" )}}checked{{/if}}>
				{{localize "DOLMEN.PartyViewer.RetainerFull"}}
			</label>
		</div>
		<p class="hint">{{localize "DOLMEN.PartyViewer.RetainerHint"}}</p>
	</section>
</section>