<div>
	<div class="welcome-logo-container"><img class="welcome-logo" src="systems/dolmenwood/assets/logo.webp?v=1" alt="Dolmenwood"></div>
	<div class="welcome-content">
		<h1 class="welcome-heading">{{heading}}</h1>
		<p class="welcome-info">{{{info}}}</p>
		<div class="welcome-footer">
			<label class="welcome-checkbox">
				<input type="checkbox" data-action="doNotShow">
				{{doNotShowLabel}}
			</label>
			<button type="button" class="welcome-close-btn">{{closeLabel}}</button>
		</div>
	</div>
	<p class="welcome-copyright">{{{credits}}}<br>{{{copyright}}}</p>
</div>