/* -------------------------------------------- */
/*  Settings Tab                                */
/* -------------------------------------------- */

.sheet.dolmen .tab-settings .boxed-section .unit-toggle {
	margin: auto;
}

.sheet.dolmen .tab-settings .boxed-section.unit-system input {
	border: 0;
	box-shadow: none;
}

