/* -------------------------------------------- */
/*  Settings Tab                                */
/* -------------------------------------------- */

.sheet.dolmen .tab-settings .boxed-section .unit-toggle {
	margin: auto;
}

.sheet.dolmen .tab-settings .boxed-section.unit-system input {
	border: 0;
	box-shadow: none;
}

.sheet.dolmen .tab-settings .retainer-setting .hint {
	text-align: center;
}

.sheet.dolmen .tab-settings .base-speed-setting .form-group {
	display: grid;
	grid-template-columns: 4rem max-content;
	gap: 0.5rem;
	margin: auto;
	align-items: center;
}