<section class="tab-content tab-notes {{tab.cssClass}}" data-group="primary" data-tab="notes">
	<div class="two-columns creature-notes-columns">
		<section class="creature-details boxed-section">
			<h2>{{localize "DOLMEN.Creature.NotesDetails"}}</h2>
			<div class="creature-notes-fields">
				<div class="header-field">
					<label>{{localize "DOLMEN.Creature.Encounters"}}</label>
					<input type="text" name="system.encounters" value="{{system.encounters}}" placeholder="1d6">
				</div>
				<div class="header-field">
					<label>{{localize "DOLMEN.Creature.LairChance"}}</label>
					<input type="number" name="system.lairChance" value="{{system.lairChance}}" min="0" max="100">
				</div>
				<div class="header-field" style="grid-column-end: span 2;">
					<label>{{localize "DOLMEN.Creature.Behaviour"}}</label>
					<input type="text" name="system.behaviour" value="{{system.behaviour}}">
				</div>
				<div class="header-field" style="grid-column-end: span 2;">
					<label>{{localize "DOLMEN.Creature.Speech"}}</label>
					<input type="text" name="system.speech" value="{{system.speech}}">
				</div>
				<div class="header-field" style="grid-column-end: span 2;">
					<label>{{localize "DOLMEN.Creature.Possessions"}}</label>
					<input type="text" name="system.possessions" value="{{system.possessions}}">
				</div>
				<div class="header-field" style="grid-column-end: span 2;">
					<label>{{localize "DOLMEN.Creature.Hoard"}}</label>
					<input type="text" name="system.treasureType" value="{{system.treasureType}}">
				</div>
			</div>
		</section>
		<section class="boxed-section">
			<h2>{{localize "DOLMEN.Adjustments.Other"}}</h2>
			<div class="header-field">
				<label>{{localize "DOLMEN.ClassDetails.Loyalty"}}</label>
				<input type="number" min="1" max="12" name="system.loyalty" value="{{system.loyalty}}" placeholder="7">
			</div>
		</section>

		<section class="creature-abilities boxed-section">
			<h2>{{localize "DOLMEN.Creature.SpecialAbilities"}}</h2>
			{{#each system.specialAbilities}}
			<div class="ability-row" data-ability-index="{{@index}}">
				<span class="ability-text"><b>{{this.name}}:</b> {{this.description}}</span>
				<a class="remove-ability rollable" data-action="removeAbility" data-ability-index="{{@index}}" title="{{localize 'DOLMEN.Creature.RemoveAbility'}}"><i class="fas fa-square-x"></i></a>
			</div>
			{{/each}}
			<a class="add-ability-row" data-action="addAbility">{{localize "DOLMEN.Creature.AddAbility"}}</a>
		</section>
		<div class="codex-link-row" style="grid-column-end: span 2;">
			<div class="form-field codex-field">
				<label>{{localize "DOLMEN.Item.CodexLink"}}</label>
				<div class="codex-input-group">
					<input type="text" name="system.codexUuid" value="{{system.codexUuid}}" placeholder="UUID">
					<button type="button" class="codex-link-btn" title="{{localize " DOLMEN.Item.CodexOpen"}}">
						<i class="fas fa-book-open"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</section>